<h1>Editing Classroom</h1>

<%= error_messages_for :classroom %>

<% form_for(:classroom, :url => classroom_url(@classroom), :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update", :class => "post-button"%>
  </p>
<% end %>
