<div style = "width: 517px; height:223px; background-image: url(../images/logged/inner_background.jpg);">
Turmas
<table style = "margin-top: 10px; margin-left:10px; width: 480px;">
	<%- color = "#fcf3ea"  
    @classrooms.each do |classroom|
	
     if color == "#fcf3ea"
			color = "#fce3c5"
			target = "target_1.jpg" 
		else
			color = "#fcf3ea"
			target = "target_2.jpg"
		end %> 
    <tr style = "background-color: <%=color%> ; width: 1px;">
		
      <td><%=h classroom.name %></td>
      <td> ver alunos</td>
      <td> <%= image_tag("/images/logged/"+target) %>objetivos</td>
    </tr>
  <% end %>
</table>
<br/>
</div>

