<html>
<head>

<link rel=stylesheet href="styles/mateval.css" type="text/css">

</head>
<body>

<div class="background">
	<div class="content-wrapper">
		<div class="header">
			<div class="logo">
				<img src="images/mateval.jpg" alt="MatEval">
			</div>
			<div class="banner">
				<img src="images/unlogged/top.jpg" alt="Escola Luciana de Abreu">
			</div>
			<div class="clear"></div>
		</div>
		<div class="separator"></div>
		<div class="inner-wrapper">
			<div class="left-menu">
				<img src="images/unlogged/login.jpg">
				<div class="login">
					</br>
					Professor(a):</br>
					<input type="text"></br></br>
					Senha:</br>
					<input type="password">
				</div>
				<div class="minor-box">
					</br>Esqueceu a senha?
				</div>
			</div>
			<div class="content">
				<div>
					<div class="inner-content">
						<img src="images/unlogged/performance.jpg">
					</div>
					<div class="inner-content">
						<img src="images/unlogged/comments.jpg">
					</div>
					<div class="inner-content-last">
						<img src="images/unlogged/goals.jpg">
					</div>
				</div>
				<div class="clear"></div>
				<div class="images/unlogged/signin_box">
					O MatEval auxilia o professor a planejar, regostrar e avaliar as atividades desenvolvidas pelos alunos em sala de aula.
					<img src="images/unlogged/signin.jpg" class="signin" alt="Cadastro para novos professores"></div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>


</body>
</html>
