<!--#output << form_for(:account , :url=> login_account_url) do |f|-->
<%=image_tag("unlogged/login.jpg")%>
<%=form_tag('/account/login')%> 
    <div class="login">
        Professor(a):</br>
        <input type="text" class="login-input" name="username"><br/>
        Senha:</br>
        <input type="password" class="login-input" name="password">
        <%=submit_tag("login", :class => "login-button")%>
    </div>
</form>

<div class="minor-box"></br>
    Esqueceu a senha?
</div>