<div class="user-menu">
	<%=image_tag("logged/dummy.jpg")%>
    <b>Professor Logado</b><br />
    <%=current_user.name%><br />
	Editar Perfil<br />
    <%=button_to('Sair' , :controller => 'account' , :action => 'logout')%>
</div>
<div class="orange-box"></div>
<%=image_tag("logged/pcn.jpg", :style => "margin-bottom: 0px")%>
