<h1>Editando Usuário</h1>


<% form_for(:user, @usr, :url => { :controller => "account", :action => "refresh", :id=> params[:id]  }) do |f| %>

		<%= render :partial => "form", :locals => { :f => f } %>

Permissões:<br/><br/>
Administrador <%= 	if @usr.roles.include?(Role.find(1))
 						check_box_tag("prof", value = "1", checked = true)
 					else
 						check_box_tag("prof", value = "1", checked = false)
 					end
 					 
 					  %><br/>
Professor	<%=	if @usr.roles.include?(Role.find(2))
								check_box_tag("admin", value = "1", checked = true)
							else
								check_box_tag("admin", value = "1", checked = false)
							end
%>
<br/>
<p>
	<%= submit_tag "Update", :class => "post-button" %>
</p>

<% end %>
