<div>
	<%= flash[:notice] %>
    <div><%=image_tag("unlogged/entrance.jpg")%></div>
</div>
<div class="clear"></div>
<div class="signin_box">
    O MatEval auxilia o professor a planejar, regostrar e avaliar as atividades desenvolvidas pelos alunos em sala de aula.<br />
    <%=link_to image_tag("unlogged/signin.jpg", :class => "signin", :alt => "Cadastro para novos professores"), 
        { :action => "signup" }
    %>
</div>