<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<%= stylesheet_link_tag 'mateval' %>
<%= javascript_include_tag :defaults %> 
<title>- MatEVal - </title>
</head>
<body>

<div class="background">
	<div class="top-wrapper">
		<div class="mateval">
			<%=image_tag("mateval.jpg", :alt=>'MatEval')%>
		</div>
		<div class="top">
			<%= header_menu %>
		</div>
		<div class="clear"></div>
		<div class="separator"></div> <!-- Linha azul -->
		<div class="content-wrapper"> <!-- Parte interna, abaixo da linha azul -->
			<div class="sidebar-left">
				<%= side_bar_left %>
			</div>
			<div class="right">
				<%= yield %> <!-- Aqui vai o conteúdo que ficará na parte da direita -->
			</div>
		</div> <!-- Fim content-wrapper -->
		<div class="clear"></div>
	</div>
</div>

</body>
</html>
