<html>
<head>

<%= stylesheet_link_tag 'mateval' %> 

</head>
<body>

<div class="background">
	<div class="top-wrapper">
		<div class="mateval">
			<img src="images/mateval.jpg" alt="MatEval">
		</div>
		<div class="top">
			<!-- Aqui vai a figura do banner -->
		</div>
		<div class="clear"></div>
		<div class="separator"></div> <!-- Linha azul -->
		<div class="content-wrapper"> <!-- Parte interna, abaixo da linha azul -->
			<div class="left">
				<!-- Aqui vai o menu da esquerda -->
			</div>
			<div class="right">
				<!-- Aqui vai o conteúdo que ficará na parte da direita -->
			</div>
		</div> <!-- Fim content-wrapper -->
		<div class="clear"></div>
	</div>
</div>

</body>
</html>
